<html>
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<title>熟背道德经</title>
</head>
<style type="text/css">
body{
overflow-x:hidden;
}
img{
width: 100%;
display: block;
}
</style>
<body>
{% for ddjw in ddjws %}
	<div>
{{ddjw.zjh}}
<br/><br/><br/><br/><br/><br/><br/><br/><br/>
<p>{{ddjw.zjw}}</p>
  </div>
{% endfor %}

<a href="javascript:location.reload();">点击刷新</a>
</body>
</html>