
{% load static %}
<html>
	<head>
		 <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    	<meta name="description" content="">
    	<meta name="author" content="">
    	<title>凯斯特</title>
    	<!-- Bootstrap core CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    	<!-- custom style for this template-->
    	<link rel="stylesheet" href="{% static 'kst/css/base.css' %}">
    	<link rel="stylesheet" href="{% block css%}{% endblock css%}">
		<link rel="stylesheet" href="{% static 'css/login.css' %}">
	</head>
	  <body>
	   <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4" id="topnav">
      	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        	<span class="navbar-toggler-icon"></span>
      	</button>
      	<div class="collapse navbar-collapse" id="navbarCollapse">
        	<ul class="navbar-nav mr-auto">
          		<li class="nav-item "><a class="nav-link" href="../../index">主页</a></li>
	          {% if request.session.is_login %}
				<li class="nav-item "><a class="nav-link" href="#">当前在线:{{request.session.user_name}}</a></li>
  				<li class="nav-item "><a class="nav-link" href="../../logout">登出</a></li>
                {% if request.session.user_yhlb == "管理" %}
                   <li class="nav-item "><a class="nav-link" href="../../yh">用户管理</a></li>
                {% endif %}
			    {% if request.session.user_yhlb == "管理" or request.session.user_yhlb == "操作" %}
					<li class="nav-item "><a class="nav-link" href="../../cs1">参数管理</a></li>
					<li class="nav-item "><a class="nav-link" href="../../dg_list">订单一览表</a></li>

                {% endif %}
				<li class="nav-item "><a class="nav-link" href="../../dg">下单</a></li>
              {% else %}
				<li class="nav-item "><a class="nav-link" href="../../login">登录</a></li>
				<li class="nav-item "><a class="nav-link" href="#">注册</a></li>
              {% endif %}
			</ul>
		</div>
	   </nav>

		<main role=""main" class="container">
		  <br>
  			{% block content %}
			{% endblock content %}

		  </main>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
   		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</body>
</html>