{% extends 'kst/base.html' %}

{% block content %}
 {% if request.session.user_yhlb == "管理" or request.session.user_yhlb == "操作" %}
<a class="text-info" href="{% url 'yh_new' %}"><button type="submit" class="btn btn-outline-success my-2 my-sm-0">新增用户</button></a>
 {% endif %}
<table class="table table-hover">
  <thead>
    <tr>
          <th scope="col">序号</th>
          <th scope="col">用户号</th>
        <th scope="col">用户名</th>
        <th scope="col">上次登录</th>
        <th scope="col">用户类别</th>
        {% if request.session.user_yhlb == "管理" or request.session.user_yhlb == "操作" %}
        <th scope="col">编辑</th>
        <th scope="col">删除</th>
        {% else %}
        <th scope="col">修改密码</th>
        {%endif%}
    </tr>
  </thead>
  <tbody class="no-underline">
 	{% for yh in yhs%}

	 <th scope="row" class="text-dark">{{forloop.counter}}</th>
          <td class="text-dark" >{{yh.yhh}}</td>
          <td class="text-dark" >{{yh.yhm}}</td>
          <td class="text-dark" >{{yh.scdl}}</td>
          <td class="text-dark" >{{yh.yhlb}}</td>

      {% if request.session.user_yhlb == "管理" or request.session.user_yhlb == "操作" %}
	      <td><a class="text-info" href="{% url 'yh_edit' pk=yh.pk %}">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">编辑</button>
          </a></td>

           <td>
            <!-- Button trigger modal -->
              <button data-toggle="modal" data-target="#exampleModal{{forloop.counter}}" type="button" class="btn btn-outline-success my-2 my-sm-0" >删除</button>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal{{forloop.counter}}Label" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal{{forloop.counter}}Label"><font color="red">请确认</h5></font>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" ><font color="red">确定要删除该项吗？{{yh.yhh}}</font></div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <form method="POST" action="{% url "yh_delete" yh.pk %}">
                      {% csrf_token %}
                       <button type="submit" class="btn btn-primary">确认</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
    {% else %}
        <td><a class="text-info" href="{% url 'yh_editmm' pk=yh.pk %}">
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">修改密码</button>
          </a></td>
           <td>
    {%endif%}

               </tr>

        </tr>
    {% endfor %}


{% endblock %}